

body{
  font-family: 'Montserrat', sans-serif;
}
#title{
  background-color: #ff4c68;
  color:#fff;
}
.container-fluid{
  padding: 3% 15% 7%;
}
h1{
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;
}
h3{
  font-family: 'Montserrat-Bold';
}
p{
  color: #8f8f8f;
}
.navbar{
  padding-bottom: 0 0 9.5rem ;
}

.navbar-brand{
font-family: 'Notable', sans-serif;
font-size: 2.5rem;
font-weight: bold;
}

.nav-item{
  padding: 0 20px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-White'
}
.download-button{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 50%; /* картина будет занимать 60 процент своего div контейнера*/
  transform: rotate(30deg);  /* поворот на 30 градусов налево*/
  position: absolute;
  right: 30%; /* 30 процент  направо */
}
#features{
  padding: 7% 15%; /* 7 left right; 15% top bottom*/
  background-color: #fff;
  position: relative;
  z-index: 1; /* Эта часть будет наверху */
}
.features-div{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem; /* для расстояния между иконкой и текстом */
}
.icon:hover{  /* изменяет иконка цыет при нанесение курсора */
  color: #ff4c68;
}
#testimonials{      /* отзывы */
  text-align: center; /* текст в центрее */
  background-color: #ef8172;
  color: #fff;
}
h2{
  font-family: 'Montserrat-bold';
  font-size: 3rem;
  line-height: 1.5; /* для расстояния между строками */
}
.testimonials-image{
  width: 10%; /* для того чтобы картина была маленикой */
  border-radius: 100%    ;      /* чтобы картина была круглой */
  margin: 20px;      /* чтобы было расстояния между картиной и окружающим миром */

}
#press{      /* пресса */
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.carousel-item{
  padding: 7% 15%; /* top-bottom; left-right/ чтобы стрелки были на расстоянии друг от друга  */
}
#pricing{
  padding: 100px;
text-align:center;

}
.pricing-column{
  padding: 3% 2%;
}
@media (max-width: 1028px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
#title{
  text-align: center;
}
}
#cta{
  background-color: #ff4c68;
  color:#fff;
  text-align:center;
}
.cta-h3{
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;
}
.cta-button{
  margin: 5% 3% 5% 0;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icons{
  margin: 20px 10px;
}
